
<div class="container-fluid main-page">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-class="{'active': beers.order === '-created_at'}"><a ng-click="beers.order = '-created_at'">Overview <span class="sr-only">(current)</span></a></li>
        <li ng-class="{'active': beers.order === '-quantity'}"><a ng-click="beers.order = '-quantity'">Highest quantity</a></li>
        <li ng-class="{'active': beers.order === 'name'}"><a ng-click="beers.order = 'name'">Alphabetical</a></li>
      </ul>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input ng-model="results"  type="text" class="form-control" placeholder="Filter results"/>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">

      <!--POSTING new beers-->
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Share your beer</h3>
          </div>
          <div class="panel-body">
            <div class="alert alert-success text-center" role="alert" ng-show="beers.isPosted === true">
              Your post is successfully added!
            </div>
            <form name="brew" ng-submit="beers.create()" novalidate>
                <div class="alert alert-danger" role="alert" ng-show="brew.name.$invalid && !brew.name.$pristine">
                  The beer name is invalid
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-beer"></i></span>
                  <input type="text" name="name" class="form-control" ng-keyup="beers.isPosted = false"  placeholder="Name of beer" autofocus="true" ng-model="beers.name" required />
                </div>
                 <div class="alert alert-danger" role="alert" ng-show="brew.quantity.$invalid && !brew.quantity.$pristine">
                   The quantity is invalid
                 </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-sort"></i></span>
                  <input type="number" class="form-control" name="quantity" placeholder='Quantity of beers' ng-model="beers.quantity" required />
                </div>

                <div class="alert alert-danger" role="alert" ng-show="brew.location.$invalid && !brew.location.$pristine">
                  The location is invalid
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                  <input type="text" class="form-control" name="location" placeholder="Location" ng-model="beers.location" required />
                </div>
                <div class="alert alert-danger" role="alert" ng-show="brew.description.$invalid && !brew.description.$pristine">
                  The description is invalid
                </div>
                <div class="form-group">
                  <textarea msd-elastic class="form-control" name="description" ng-model="beers.description" placeholder="Add description for beers..."></textarea>
                </div>
             <button ng-disabled="brew.$invalid" class="form-control btn-success" type="submit">Post beers</button>
            </form>
          </div>
        </div>
      </div>
      <hr>

      <!--List of beers-->
        <div class="panel panel-info row" ng-repeat="beer in beers.index | orderBy: beers.order | filter:results:strict">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{beer.poster.name}}'s
              <a href="#/home/beers/{{beer.id}}">
                {{beer.name}}
              </a>
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="container">
                <div class="col-xs-4 col-sm-3">
                  <h5>Quantity: </h5>
                  <p>
                    {{beer.quantity}}
                  </p>
                </div>
                <div class="col-xs-4 col-sm-3">
                  <h5>Description: </h5>
                  <p>
                    {{beer.description}}
                  </p>
                </div>
                <div class="col-xs-4 col-sm-3">
                  <h5>Pickup: </h5>
                  <a href="#">
                    <i class="fa fa-map-marker"></i> 
                    Locate this beer
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


