<form name="register-form">
  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-user"></i>
    </span>
    <input type="text" name="name" class="form-control" placeholder="Full name" autofocus="true" />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-envelope"></i>
    </span>
    <input type="email" name="email" class="form-control" placeholder="Email"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-asterisk"></i>
    </span>
    <input type="password" name="password" class="form-control" placeholder="Password" />
  </div>
  <button class="form-control btn-success">Create my account</button>
</form>

